.btn {
	cursor: pointer;
	&--submit {
		color: $color-contrast;
		border-color: $color-contrast;
	}
	&--submit:hover {
		background-color: $color-contrast;
		color: $font-light;
	}
	&--submit:active {
		background-color: $color-contrast;
		color: rgba($font-light, 0.3);
	
	}
	&--reset {
		color: rgba($color-primary, 0.1);
		border-color: rgba($color-primary, 0.1);
	}
	&--reset:hover {
		color: rgba($color-primary, 0.3);
		border-color: rgba($color-primary, 0.3);
	}
	&--reset:active {
		background-color: rgba($color-primary, 0.3);
		border-color: rgba($color-primary, 0.02);
	}
}
