.form-page {}

.form-page label {
    font-size: 14px;
    font-family: "Open Sans";
    color: $font-pink;
    text-transform: uppercase;
    line-height: 2.143;
    text-align: left;
}

.form-page__title {
    font-size: 14px;
    color: $font-pink;
    text-transform: uppercase;
    line-height: 1.286;
    text-align: center;
    font-weight: 300;
    // max-width: 250px
}

.form-page__title--hidden {
    @include visually-hidden;
    
}

.form-page__submit {
    background: $status-success;
    border: none;
    font-size: 18px;
    color: $font-light;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.667;
    text-align: center;
    padding: 15px 25px;
    border-radius: 3px;
}

.form-name {}

.form-activities {
    background: $bg-gray;
}

.form-page__checkbox {
    font-size: 18px;
    color: $font-deep-blue;
    line-height: 1.667;
    text-align: left;
    display: block;
}

.form-whatapp {
    background: $bg-gray;
}

.form-page__checkbox {
    font-size: 18px;
    color: $font-deep-blue;
    line-height: 1.667;
    text-align: left;
    display: block;
}

.required {
    font-size: 14px;
    color: $font-deep-blue;
    text-transform: uppercase;
    line-height: 2.143;
    text-align: center;
}

.required span {
    color: $font-pink;
}
