@font-face {
	font-family: "Open Sans";
	src: url("../fonts/opensans.woff") format("woff"), url("../fonts/opensans.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Open Sans";
	src: url("../fonts/opensansbold.woff") format("woff"), url("../fonts/opensansbold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Open Sans";
	src: url("../fonts/opensanslight.woff") format("woff"), url("../fonts/opensanslight.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}

//for a links without href attr
a {
	cursor: pointer;
}

body {
	font-family: "Open Sans", Arial, Sans-serif;
}

img {
	max-width: 100%;
	height: auto;
}

.icon-yes {
	display: inline-block;
	float: right;
	width: 31px;
	height: 22px;
	background-color: #3dc644;
	mask-image: url(/img/icon-yes.svg);
	mask-size: cover;
}

.icon-no {
	display: inline-block;
	float: right;
	width: 27px;
	height: 27px;
	background-color: #f25b26;
	mask-image: url(/img/icon-no.svg);
	mask-size: cover;
}

@media (min-width: $breakpoint-tablet) {
	.icon-yes {
		float: none;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
	.icon-no {
		float: none;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
}
