$font-primary: #000;
$font-light: #fff;

$bg-gray: #f2f2f2;
$gray: #eaeaea;
$gray-light: #e9ebec;
$gray-dark: #e5e5e5;
$gray-double-dark: #dedede;

$color-primary: #283645;
$color-primary-dark: #1d2631;
$color-contrast: #d22856;

$status-success: #2aab6d;
$status-success-hover: #1c9b5e;
$btn-reset: #dddfe0;

$breakpoint-mobile: 320px;
$breakpoint-tablet: 660px;
$breakpoint-desktop: 960px;
$retina: "@media (min-resolution: 144dpi), (min-resolution: 1.5dppx)";
