.advantage {
	flex-basis: 100%;
	text-align: center;
	display: flex;
	flex-basis: 100%;
	flex-direction: column;
	@media (min-width: $breakpoint-tablet) {
		flex-basis: 50%;
		margin-bottom: 17px;
	}
	@media (min-width: $breakpoint-desktop) {
		margin-top: 10px;
		line-height: 26px;
	}
}

.advantage__title {
	font-size: 18px;
	font-weight: 700;
	color: $font-primary;
	margin-bottom: 0;
	margin-top: 17px;
	@media (min-width: $breakpoint-tablet) {
	margin-top: 14px;
	}
	@media (min-width: $breakpoint-desktop) {
		font-size: 30px;
		font-weight: 700;
		max-width: 250px;
		margin-left: auto;
		margin-right: auto;
	}
}

.advantage__content {
	color: $color-primary;
	font-size: 14px;
	line-height: 24px;
	@media (min-width: $breakpoint-desktop) {
		font-size: 18px;
		max-width: 241px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 35px;
		line-height: 30px;
	}
}

.advantage__content,
.advantage__title {
	@media (min-width: $breakpoint-tablet) {
		text-align: left;
	}
	@media (min-width: $breakpoint-desktop) {
		text-align: center;
	}
}

.advantage__img {
	margin-left: auto;
	margin-right: auto;
	order: 4;
	margin-top: 25px;
	min-height: 324px;
	background-size: auto 320px;
	background-repeat: no-repeat;
	background-position: center top;
	@media (min-width: $breakpoint-tablet) {
		order: -1;
		flex-basis: 50%;
		text-align: left;
		min-height: 481px;
		background-size: auto 481px;
		background-position: left top;
	}
	@media (min-width: $breakpoint-desktop) {
		text-align: center;
		margin-top: 40px;
		min-height: 302px;
		background-size: auto 302px;
	}
	&--up {
		display: none;
		@media (min-width: $breakpoint-desktop) {
			display: inline-block;
			vertical-align: baseline;
		}
		@media (min-width: $breakpoint-desktop) {
			display: inline-block;
			vertical-align: baseline;
			background-image: url(../img/iphone-screen-1-desktop@1x.png);
			@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
				background-image: url(../img/iphone-screen-1-desktop@2x.png);
			}
		}
	}
	&--change {
		display: none;
		@media (min-width: $breakpoint-desktop) {
			display: inline-block;
			vertical-align: baseline;
			background-image: url(../img/iphone-screen-2-desktop@1x.png);
			@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
				background-image: url(../img/iphone-screen-2-desktop@2x.png);
			}
			background-position: center top;
		}
	}
	&--friends {
		background-image: url(../img/iphone-screen-mobile@1x.png);
		@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
			background-image: url(../img/iphone-screen-mobile@2x.png);
		}
		@media (min-width: $breakpoint-tablet) {
			margin-top: -73px;
			background-image: url(../img/iphone-screen-3-tablet@1x.png);
			@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
				background-image: url(../img/iphone-screen-3-tablet@2x.png);
			}
		}
		@media (min-width: $breakpoint-desktop) {
			background-position: right top;
			background-image: url(../img/iphone-screen-3-desktop@1x.png);
			@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
				background-image: url(../img/iphone-screen-3-desktop@2x.png);
			}
		}
	}
}
