.information {
	position: relative;
	z-index: 3;
	margin-top: 304px;
	@media (min-width: $breakpoint-tablet) {
		margin-top: 0;
	}
}

.information__header {
	background-color: $font-light;
	@include container-fluid;
	@media (min-width: $breakpoint-tablet) {
		margin-top: 50px;
		margin-bottom: 0;
		width: 100%;
		padding: 0;
	}
	@media (min-width: $breakpoint-desktop) {
		margin-top: 68px;
		margin-bottom: 0;
	}
}

.information__wrapper {
	background-color: $bg-gray;
	background-image: url(../img/bg-triangle-white.svg);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: 100% auto;
	padding-top: 98px;
	@media (min-width: $breakpoint-tablet) {
		margin-top: 25px;
	}
	@media (min-width: $breakpoint-desktop) {
		margin-top: 78px;
	}
}

.information__wrapper h2 {
	@media (min-width: $breakpoint-tablet) {
		margin-top: 0;
	}
}

.information__txt-tired,
.information__txt-offer {
	font-size: 24px;
	color: $color-primary;
	line-height: 1.2;
	text-align: center;
	font-weight: 300;
	margin-bottom: 32px;
	padding: 0 20px;
	@media (min-width: $breakpoint-tablet) {
		font-size: 40px;
		margin-bottom: 0;
	}
	@media (min-width: $breakpoint-desktop) {
		font-size: 50px;
	}
}

.information__txt-tired {
	@media (min-width: $breakpoint-desktop) {
		margin-bottom: 0;
	}
}

.information__txt-offer {
	margin-bottom: 0;
	@media (min-width: $breakpoint-tablet) {
		margin-top: 0;
		max-width: 60%;
		margin-left: auto;
		margin-right: auto;
	}
}

.information__promotions {
	display: flex;
	flex-wrap: wrap;
	@include container-fluid;
	@media (min-width: $breakpoint-tablet) {
		align-content: flex-start;
		align-items: flex-start;
		flex-direction: row;
	}
}

.information__toprow {
	order: 2;
	flex-grow: 1;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	@media (min-width: $breakpoint-tablet) {
		order: 1;
		width: 50%;
	}
	@media (min-width: $breakpoint-desktop) {
		width: 100%;
		display: flex;
		margin-top: -140px;
	}
}

.information__bottomrow {
	@media (min-width: $breakpoint-tablet) {
		order: 2;
		width: 50%;
	}
	@media (min-width: $breakpoint-desktop) {
		width: 100%;
		display: flex;
		margin-top: 43px;
	}
}

.advantage__img {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
