.map {
	min-height: 200px;
	background-image: url(../img/bg-map-mobile@1x.png);
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
	z-index: 5;
	//	margin-top: 42px;
	background-size: cover;
	&::before {
		content: "";
		display: block;
		position: absolute;
		//		top: -15px;
		width: 100%;
		height: 33px;
		background: url("../img/bg-triangle-white-footer.svg") no-repeat center top / 100% 33px;
		z-index: 5;
		@media (min-width: $breakpoint-tablet) {
			height: 69px;
			background-size: 100% 69px;
		}
		@media (min-width: $breakpoint-desktop) {
			height: 125px;
			background-size: 170% 125px;
		}
	}
	@media (min-resolution: 144dpi),
	(min-resolution: 1.5dppx) {
		background-image: url(../img/bg-map-mobile@2x.jpg);
	}
	@media (min-width: $breakpoint-tablet) {
		min-height: 373px;
		margin-top: 5px;
		background-image: url(../img/bg-map-tablet@1x.jpg);
		@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
			background-image: url(../img/bg-map-tablet@2x.jpg);
		}
	}
	@media (min-width: $breakpoint-desktop) {
		min-height: 520px;
		background-image: url(../img/bg-map-desktop@1x.jpg);
		margin-top: 0;
		@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
			background-image: url(../img/bg-map-desktop@2x.jpg);
		}
	}
}

.map__decoration {
	width: 100%;
	height: auto;
}

.map__marker {
	display: block;
	width: 16px;
	height: 16px;
	background-color: #d22856;
	border: solid 9px #fff;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -7px;
	margin-left: -16px;
	z-index: 7;
}

.map__content {
	height: 100%;
	width: 100%;
	position: relative;
	z-index: 7;
}
