.page-header {
	color: $font-light;
	margin-bottom: -71px;
	&--open {
		background: $color-primary;
	}
	&--closed {
		background: rgba(0, 0, 0, 0.3);
	}
	&--nojs {
		background: $color-primary;
	}
	position: relative;
	z-index: 15;
	@media (min-width: $breakpoint-tablet) {
		margin-bottom: -110px;
		min-height: 110px;
	}
	@media (min-width: $breakpoint-desktop) {
		background: rgba(0, 0, 0, 0.3);
		margin-bottom: -110px;
		position: relative;
		z-index: 15;
		min-height: 94px;
	}
}

.page-header__wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	padding-top: 22px;
	@media (min-width: $breakpoint-desktop) {
		@include container-fluid;
	}
}

.page-header__title {
	font-size: 24px;
	line-height: 1.2;
	text-align: center;
	font-weight: 300;
	@readers-only();
	@include readers-only;
}
