.page-footer {
	display: none;
	&--visible {
		display: block;
	}
	@media (min-width: $breakpoint-tablet) {
		display: block;
		margin-top: 33px;
		margin-bottom: 37px;
	}
	@media (min-width: $breakpoint-desktop) {
		margin-top: 65px;
	}
}

.page-footer__wrapper {
	@include container-fluid;
	display: flex;
	flex-wrap: wrap;
	@media (min-width: $breakpoint-tablet) {
		flex-wrap: nowrap;
	}
}

.page-footer__developer {
	flex-grow: 1;
	text-align: center;
	font-size: 14px;
	color: $color-primary;
	line-height: 1.286;
	text-align: left;
	margin-top: 45px;
	margin-bottom: 42px;
	flex-grow: 1;
	width: 100%;
	
	@media (min-width: $breakpoint-tablet) {
		margin-top: 18px;
		flex-grow: 0;
		width: auto;
	}
	@media (min-width: $breakpoint-desktop) {
		font-size: 18px;
	}
}

.page-footer__developer svg {
	fill: $color-contrast;
	margin-left: 14px;
	transition: 0.3s;
}

.page-footer__developer-link {
	color: $color-primary;
	text-decoration: none;
	display: flex;
	justify-content: center;
	line-height: 30px;
	@media (min-width: $breakpoint-tablet) {
		justify-content: flex-end;
	}
}

.page-footer__developer-link:hover svg {
	fill: $color-primary;
}

.page-footer__developer-link:active svg {
	fill: $color-primary;
	opacity: 0.3;
}