.photos {
	@include container-fluid;
}

.photos__title {
	display: none;
}

.photos__item {
	background: $bg-gray;
	margin-top: 20px;
}

.photos__img,
.picoftheday__img {
	width: 100%;
	height: auto;
}

.photos__link {}

.photos__desc {
	padding: 20px;
}

.photos__username {
	color: $font-deep-blue;
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 0;
}

.photos__time {
	font-size: 12px;
	font-weight: 300;
	text-transform: uppercase;
}

.photos__text {
	color: $font-deep-blue;
	font-size: 14px;
	font-weight: 400;
	margin-top: 5px;
	line-height: 22px;
	margin-bottom: 0;
}

.photos__meta {
	font-size: 12px;
	color: $font-pink;
	text-transform: uppercase;
	line-height: 1;
	text-align: left;
	margin-top: 16px;
	position: relative;
	padding-left: 32px;
	display: block;
	&::before {
		content: "";
		background: $font-pink;
		mask: url(../img/icon-heart.svg);
		width: 13px;
		height: 12px;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
	}
}

.photos__descr {
	padding-left: 18px;
	padding-right: 18px;
	padding-top: 4px;
	padding-bottom: 25px;
}

@media (min-width: $breakpoint-tablet) {
	.photos {
		display: flex;
		flex-wrap: wrap;
		align-self: center;
		justify-content: space-between;
		margin-top: 32px;
	}
	.photos__item {
		width: 48.4%;
		display: flex;
		flex-direction: column;
	}
	.photos__text {
		flex-grow: 1;
		min-height: 44px;
	}
	.photos__meta {
		padding-left: 0;
		padding-right: 32px;
		margin-top: 20px;
		//		width: 15%;
		&::before {
			right: 15px;
			left: auto;
		}
	}
	.photos__descr {
		padding-left: 25px;
		padding-top: 10px;
		padding-bottom: 28px;
		display: flex;
		flex-grow: 1;
		flex-direction: column;
	}
}

@media (min-width: $breakpoint-desktop) {
	.photos {
		margin-top: 3px;
	}
	.photos__item {
		width: 32%;
		margin-top: 50px;
	}
}
