.picoftheday {
	position: relative;
	z-index: 1;
	//    margin-bottom: 25px;
	@media (min-width: $breakpoint-tablet) {
		margin-top: 58px;
	}
	@media (min-width: $breakpoint-desktop) {
		margin-top: 79px;
	}
}

.picoftheday__title {
	display: inline-block;
	vertical-align: baseline;
	position: absolute;
	right: 20px;
	width: 140px;
	padding-top: 6px;
	padding-bottom: 6px;
	text-align: center;
	top: 0;
	margin: 0;
	font-size: 12px;
	color: $font-light;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 2;
	background: $color-contrast;
	z-index: 10;
	@media (min-width: $breakpoint-tablet) {
		top: 57px;
	}
	@media (min-width: $breakpoint-desktop) {
		right: 130px;
		top: 54px;
	}
}

.picoftheday__link {
	display: block;
	margin-bottom: -5px;
}

.picoftheday__img {
	@media (min-width: $breakpoint-tablet) {
		width: 100%;
		height: auto;
	}
}

.picoftheday__desc {
	@include container-fluid;
}

.picoftheday__desc-wrapper {
	background: $bg-gray;
	padding: 21px 17px 17px 17px;
	display: flex;
	flex-direction: column;
	@media (min-width: $breakpoint-tablet) {
		display: flex;
		margin-top: 0;
		//		align-items: flex-end;
		flex-wrap: wrap;
		flex-direction: row;
		padding-top: 26px;
		padding-left: 27px;
		padding-right: 24px;
		padding-bottom: 24px;
	}
}

.picoftheday__username {
	color: $color-primary;
	font-size: 14px;
	font-weight: 700;
	margin: 0;
	//	padding-top: 15px;
	@media (min-width: $breakpoint-tablet) {
		order: 1;
		flex-grow: 1;
	}
}

.picoftheday__time {
	font-size: 12px;
	font-weight: 300;
	text-transform: uppercase;
	@media (min-width: $breakpoint-tablet) {}
}

.picoftheday__text {
	color: $color-primary;
	font-size: 14px;
	font-weight: 400;
	margin-top: 2px;
	line-height: 24px;
	@media (min-width: $breakpoint-tablet) {
		order: 3;
	}
}

.picoftheday__meta {
	font-size: 12px;
	color: $color-contrast;
	text-transform: uppercase;
	line-height: 1;
	text-align: left;
	position: relative;
	padding-left: 32px;
	margin-top: 17px;
	margin-bottom: 8px;
	//	display: block;
	@media (min-width: $breakpoint-tablet) {
		order: 2;
		padding-left: 32px;
		padding-right: 35px;
		margin-top: 7px;
		margin-bottom: 0;
	}
}

.picoftheday__meta::before {
	content: "";
	background: $color-contrast;
	mask: url(../img/icon-heart.svg);
	width: 13px;
	height: 12px;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	@media (min-width: $breakpoint-tablet) {
		content: "";
		background: $color-contrast;
		mask: url(../img/icon-heart.svg);
		width: 13px;
		height: 12px;
		display: block;
		position: absolute;
		top: 0;
		right: 5px;
		left: auto;
	}
}
