.pricelist {
	color: $font-primary;
	margin-top: 7px;
	background-color: $bg-gray;
	background-image: url(../img/bg-triangle-white.svg);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: 100% auto;
	@media (min-width: $breakpoint-tablet) {
		margin-top: 24px;
		padding-top: 40px;
		padding-bottom: 54px;
	}
	@media (min-width: $breakpoint-desktop) {
		padding-top: 92px;
		padding-bottom: 73px;
	}
}

.pricelist__wrapper {
	padding: 20px 0;
	width: 100%;
	overflow-x: scroll;
	padding-top: 123px;
	@media (min-width: $breakpoint-tablet) {
		@include container-fluid;
		padding-top: 45px;
	}
	@media (min-width: $breakpoint-desktop) {
		padding-top: 68px;
	}
}

.pricelist__table {
	transform: translateX(-531px);
	border-collapse: collapse;
	@media (min-width: $breakpoint-tablet) {
		width: 100%;
		transform: none;
	}
}

.pricelist__table td,
.pricelist__table th {
	border: 2px solid #e5e5e5;
}

th.pricelist__table--noborder {
	border: none;
}

.pricelist__table-content {
	background: $font-light;
	color: $color-primary;
	font-size: 14px;
	text-transform: uppercase;
	border-bottom: 2px solid $gray-dark;
	padding: 16px 21px;
	padding-right: 15px;
	line-height: 28px;
	min-width: 276px;
	box-sizing: border-box;
	@media (min-width: $breakpoint-tablet) {
		background: $font-light;
		color: $color-primary;
		font-size: 14px;
		border: 2px solid $gray-dark;
		border-collapse: collapse;
		font-size: 14px;
		text-transform: none;
		padding: 10px 14px;
		min-width: 140px;
		padding-bottom: 8px;
		line-height: 20px;
	}
	@media (min-width: $breakpoint-desktop) {
		font-size: 18px;
		padding-top: 17px;
		padding-bottom: 17px;
		padding-left: 18px;
		width: 200px;
	}
}

.pricelist__table-header:nth-child(2) {
	@media (min-width: $breakpoint-tablet) {
		border-left: none;
	}
}

.pricelist__title {
	@include readers-only;
}

.pricelist__table-header {
	background: $color-primary;
	color: $font-light;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.667;
	text-align: center;
	position: relative;
	min-height: 98px;
	height: 98px;
	box-sizing: border-box;
	//	width: 400px;
	@media (min-width: $breakpoint-tablet) {
		font-size: 16px;
		font-weight: bold;
		text-transform: uppercase;
		line-height: 1.667;
		text-align: center;
		position: relative;
		min-height: 79px;
		height: 79px;
		border-left: 2px solid $gray-dark;
	}
	@media (min-width: $breakpoint-desktop) {
		min-height: 100px;
		height: 100px;
	}
}

.pricelist__marker {
	font-size: 14px;
	color: $font-light;
	text-transform: uppercase;
	text-align: center;
	transform: rotate(-45deg);
	display: block;
	position: absolute;
	left: 5px;
	top: 15px;
	z-index: 10;
}

.pricelist__table-header--hit::after {
	content: "";
	background-image: url(../img/bg-hit.svg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 73px;
	height: 73px;
	position: absolute;
	left: -2px;
	top: 0;
	z-index: 5;
}

.pricelist__small {
	font-size: 24px;
	color: $font-light;
	text-transform: uppercase;
	line-height: 1.25;
	text-align: center;
	display: block;
	font-weight: 300;
	@media (min-width: $breakpoint-tablet) {
		font-size: 18px;
	}
	@media (min-width: $breakpoint-desktop) {
		font-size: 24px;
	}
}

.pricelist__paginations {
	text-align: center;
	justify-content: center;
	align-items: center;
	display: flex;
	margin-top: 20px;
	padding-bottom: 46px;
	@media (min-width: $breakpoint-tablet) {
		display: none;
	}
}

.pricelist__pagination {
	width: 6px;
	height: 6px;
	border-radius: 50%;
	margin-left: 8px;
	margin-right: 8px;
	background-color: #bec2c7;
	cursor: pointer;
	&--active {
		border: 3px solid #283645;
		background-color: #fff;
	}
}

.pricelist__show-hide {
	@media (min-width: $breakpoint-tablet) {
		display: none;
	}
}
