.pricelist {
	color: $font-primary;
	margin-top: 7px;
	background-color: $bg-gray;
}

.pricelist__wrapper {
	padding: 20px 0;
	width: 100%;
	overflow-x: scroll;
	background-image: url(../img/bg-triangle-white.svg);
	background-position: top center;
	background-repeat: no-repeat;
	padding-top: 123px;
}

.pricelist__table {
	transform: translateX(-531px);
	border-collapse: collapse;
}

.pricelist__table td,
.pricelist__table th {
	border: 2px solid #e5e5e5;
}

.pricelist__table-content {
	background: $font-light;
	color: $font-deep-blue;
	font-size: 14px;
	text-transform: uppercase;
	border-bottom: 2px solid $fong-dark-gray;
	padding: 16px 21px;
	padding-right: 15px;
	line-height: 28px;
	min-width: 276px;
	box-sizing: border-box;
}

.pricelist__title {
	@include readers-only;
}

.pricelist__table-header {
	background: $font-deep-blue;
	color: $font-light;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.667;
	text-align: center;
	position: relative;
	min-height: 98px;
	height: 98px;
	box-sizing: border-box;
	//	width: 400px;
}

.pricelist__marker {
	font-size: 14px;
	color: $font-light;
	text-transform: uppercase;
	text-align: center;
	transform: rotate(-45deg);
	display: block;
	position: absolute;
	left: 5px;
	top: 15px;
	z-index: 10;
}

.pricelist__table-header--hit::after {
	content: "";
	background-image: url(../img/bg-hit.svg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 73px;
	height: 73px;
	position: absolute;
	left: -2px;
	top: 0;
	z-index: 5;
}

.pricelist__small {
	font-size: 24px;
	color: $font-light;
	text-transform: uppercase;
	line-height: 1.25;
	text-align: center;
	display: block;
	font-weight: 300;
}

.pricelist__paginations {
	text-align: center;
	justify-content: center;
	align-items: center;
	display: flex;
	margin-top: 20px;
	padding-bottom: 46px;
}

.pricelist__pagination {
	width: 6px;
	height: 6px;
	border-radius: 50%;
	margin-left: 8px;
	margin-right: 8px;
	background-color: #bec2c7;
	cursor: pointer;
	&--active {
		border: 3px solid #283645;
		background-color: #fff;
	}
}

@media (min-width: $breakpoint-tablet) {
	.pricelist {
		background: $bg-gray;
		color: $font-primary;
		margin-top: 43px;
		padding-bottom: 45px;
	}
	.pricelist__wrapper {
		@include container-fluid;
		padding-top: 0;
		//		margin-top: 25px;
	}
	.pricelist__table {
		width: 100%;
		display: block;
	transform: none;
	}
	.pricelist__paginations {
		display: none;
	}
	.pricelist__show-hide {
		display: none;
	}
	.pricelist__table-content {
		background: $font-light;
		color: $font-deep-blue;
		font-size: 14px;
		border: 2px solid $fong-dark-gray;
		border-collapse: collapse;
		font-size: 14px;
		text-transform: none;
		min-width: 140px;
		padding: 10px 14px;
	}
	.pricelist__table-header {
		font-size: 16px;
		font-weight: bold;
		text-transform: uppercase;
		line-height: 1.667;
		text-align: center;
		position: relative;
		min-height: 79px;
		height: 79px;
		border-left: 2px solid $fong-dark-gray;
	}
	.pricelist__table-header:nth-child(2) {
		border-left: none;
	}
	.pricelist__small {
		font-size: 18px;
	}
}

@media (min-width: $breakpoint-desktop) {}
