

.promo {
    
    background: #1d2631;
    color: #fff;
    
    &__btn {
        font-size: 18px;
        color: #ffffff;
        line-height: 1;
        text-align: center; 
        background-color: #1d2631;
        text-decoration: none;
        padding: 20px 40px;
        border: 2px solid #fff;
        border-radius: 25px;
        margin-top: 28px;
        margin-bottom: 40px;
        display: block;   
        font-weight: 700;
    }
    
    &__platforms {
        font-size: 14px;
        color: #ffffff;
        line-height: 1.714;
        text-align: center;
        font-weight: 300;
        padding-bottom: 28px;
    }
    
}