.promo {
	background-color: $color-primary-dark;
	color: $font-light;
	background-image: url("../img/bg-back-mobile@1x.jpg");
	background-color: $color-primary;
	background-position: center bottom;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	min-height: 394px;
	z-index: 10;
	padding-top: 77px;
	@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
		background-image: url("../img/bg-back-mobile@2x.jpg");
		background-size: cover;
	}
	@media (min-width: $breakpoint-tablet) {
		background-image: url("../img/bg-back-tablet@1x.jpg");
		padding-top: 110px;
		@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
			background-image: url("../img/bg-back-tablet@2x.jpg");
			background-size: cover;
		}
	}
	@media (min-width: $breakpoint-desktop) {
		background-image: url("../img/bg-back-desktop@1x.jpg");
		@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
			background-image: url("../img/bg-back-desktop@2x.jpg");
		}
	}
}

.promo__wrapper {
	@include container-fluid;
	background-image: url("../img/iphone-hand-mobile@1x.png");
	background-repeat: no-repeat;
	background-position: bottom 0 left 8%;
	min-height: 385px;
	@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
		background-image: url("../img/iphone-hand-mobile@2x.png");
		background-size: 258px auto;
	}
	@media (min-width: $breakpoint-tablet) {
		min-height: 618px;
		background-position: bottom right;
		background-image: url("../img/iphone-hand-tablet@1x.png");
		background-position: bottom 0 right -39px;
		background-size: 700px auto;
		@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
			background-image: url("../img/iphone-hand-tablet@2x.png");
			background-size: 700px auto;
		}
	}
	@media (min-width: $breakpoint-desktop) {
		min-height: 759px;
		padding-top: 0;
		background-image: url("../img/iphone-hand-desktop@1x.png");
		background-position: bottom 0 right -115px;
		background-size: 1050px auto;
		@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
			background-image: url("../img/iphone-hand-desktop@2x.png");
			background-size: 1050px auto;
		}
	}
}

.promo__content {
	top: 462px;
	left: 0;
	right: 0;
	padding-left: 7%;
	padding-right: 7%;
	padding-top: 6px;
	position: absolute;
	z-index: 15;
	background-color: $color-primary-dark;
	@media (min-width: $breakpoint-tablet) {
		top: 0;
		padding: 0;
		margin: 0;
		position: relative;
		margin-right: 52%;
		background-color: transparent;
		//		margin-left: 2.2%;
		padding-top: 60px;
	}
	@media (min-width: $breakpoint-desktop) {
		margin-right: 68%;
	}
}

.promo__btn {
	font-size: 18px;
	color: $font-light;
	line-height: 1;
	text-align: center;
	background-color: $color-primary-dark;
	text-decoration: none;
	padding: 16px 20px;
	border: 2px solid $font-light;
	border-radius: 35px;
	margin-top: 24px;
	margin-bottom: 30px;
	display: block;
	font-weight: 700;
	&:hover {
		background-color: #fff;
		color: $color-contrast;
	}
	&:active {
		color: rgba( $color-contrast, .3);
		background-color: #fff;
	}
	@media (min-width: $breakpoint-tablet) {
		padding: 16px 20px;
		background-color: transparent;
	}
	@media (min-width: $breakpoint-desktop) {
		margin-top: 51px;
		margin-bottom: 53px;
		font-size: 21px;
	}
}

.promo__platforms {
	font-size: 14px;
	color: $font-light;
	line-height: 23px;
	text-align: center;
	font-weight: 300;
	padding-bottom: 18px;
	@media (min-width: $breakpoint-tablet) {
		font-size: 18px;
		line-height: 27px;
	}
	@media (min-width: $breakpoint-desktop) {
		margin-top: 50px;
	}
}

.promo__title {
	display: none;
	@media (min-width: $breakpoint-tablet) {
		display: block;
		color: #ffffff;
		line-height: 1.2;
		text-align: center;
		font-weight: 300;
		font-size: 40px;
		width: 200px;
		margin-left: auto;
		margin-right: auto;
	}
	@media (min-width: $breakpoint-desktop) {
		margin-left: 0;
		margin-right: 0;
		margin-top: 64px;
		width: 300px;
		font-size: 50px;
	}
}

.promo__links {
	display: flex;
	flex-basis: auto;
	flex-wrap: nowrap;
	flex-flow: row;
	justify-content: space-around;
	margin-bottom: 20px;
	@media (min-width: $breakpoint-tablet) {
		margin-top: 44px;
		margin-bottom: 32px;
		&--apple {
			margin-left: 28px;
		}
		&--google {}
		&--microsoft {
			margin-right: 28px;
		}
	}
	@media (min-width: $breakpoint-desktop) {
		margin-top: 65px;
	}
}

.promo__link {
	width: 47px;
	height: 59px;
	//	margin-left: auto;
	//	margin-right: auto;
	background-repeat: no-repeat;
	background-size: contain;
	&--apple {
		background-image: url(../img/logo-apple.svg);
		margin-left: 23px;
	}
	&--google {
		background-image: url(../img/logo-android.svg);
		background-position: center 8px;
	}
	&--microsoft {
		background-image: url(../img/logo-microsoft.svg);
		background-position: center 12px;
		margin-right: 23px;
	}
}
