.text-block {
	@include container-fluid;
}

.text-block {
	margin-top: 45px;
	margin-bottom: 49px;
	//	margin-bottom: 49px;
	&--form-page {
		margin-bottom: 0;
	}
}

.text-block__item {
	font-size: 14px;
	color: $font-deep-blue;
	line-height: 2.143;
	font-weight: 400;
	text-align: center;
	display: block;
	margin-top: 0;
	margin-bottom: 0;
	margin-bottom: 10px;
}

.text-block__item span {
	//	display: none;
	display: inline-block;
}

.text-block__item--form-toptext span {
	display: none;
}

@media (min-width: $breakpoint-tablet) {
	.text-block {
		margin-top: 85px;
		margin-bottom: 49px;
		max-width: 85%;
		//		line-height: 30px;;
		&--bottom {
			margin-top: 70px;
		}
		&--bottom span {
			display: block;
		}
		&--top {}
		&--form-page {
			margin-bottom: 0;
		}
	}
	.text-block--top .text-block__item {
		display: inline-block;
	}
	.text-block--top .text-block__item {
		display: inline-block;
	}
	.text-block__item--form-toptext span {
		display: inline-block;
	}
	.text-block__item {
		font-size: 18px;
		display: flex;
		flex-direction: column;
	}
	.text-block__item span {
		line-height: 24px;
	}
}

@media (min-width: $breakpoint-desktop) {
	.text-block {
		margin-top: 88px;
		&--bottom {
			margin-top: 66px;
		}
		&--form-page{
			max-width: 68%;
		}
		
	}
	.text-block__item--form-toptext {
		display: inline-block;
		text-align: center;
		line-height: 33px;
	}
	.text-block__item--form-toptext span {
		display: inline;
	}
}
